
.contenido__noticias{
    padding-right: 2%;
    padding-left: 2%;
    margin-bottom: 5%;

    &-noticia{
        justify-items: center;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
    }

    &-noticia__img{
        background-image: url(https://picsum.photos/200/300?random=1);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 150px;
    }
}

.contenido__listado{
    padding-right: 20%;
    display: none;

    &-cabecera{
        border-bottom: 1px solid gray;
    }

    &-tags{
        border-bottom: 1px solid gray;
        
        li{
            display: inline-block;
            
        }
    }
}


.newsletter{
    text-align: center;
    background-color: lightgrey;
    padding-top: 40px;
    padding-bottom: 20px;
}

footer{
    text-align: center;
}

  // Medium devices (tablets, 768px and up)
 @media (min-width: 768px) {
    .contenido__listado{
        padding-right: 20%;
        display: block;
    }

    .contenido__listado-noticias__destacadas-item__img{
        width: 100%;
        height: auto;
    }

    .contenido__noticias{
        padding-right: 2%;
        padding-left: 2%;
        margin-bottom: 5%;

        &-noticia{
            align-content: center;
        }

        &-noticia__img{
            background-image: url(https://picsum.photos/200/300?random=1);
            width: 100%;
            height: 500px;
        }
    }

    .newsletter{
        text-align: center;
        background-color: lightgrey;
        padding-top: 40px;
        padding-bottom: 20px;
        margin-top: 70px;
    }
 }